# Import the Modules

In [2]:
import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt 
print('Modules are imported.')

Modules are imported.

### Load the dataset

In [3]:
dataset_url='https://raw.githubusercontent.com/datasets/covid-19/master/data/countries-aggregated.csv'
df = pd.read_csv(dataset_url)

In [4]:
# Check the dataframe first five rows
df.head()

         Date      Country  Confirmed  Recovered  Deaths
0  2020-01-22  Afghanistan          0          0       0
1  2020-01-23  Afghanistan          0          0       0
2  2020-01-24  Afghanistan          0          0       0
3  2020-01-25  Afghanistan          0          0       0
4  2020-01-26  Afghanistan          0          0       0

In [5]:
# Check the tail
df.tail()

             Date   Country  Confirmed  Recovered  Deaths
65890  2020-12-27  Zimbabwe      13077      10593     349
65891  2020-12-28  Zimbabwe      13148      10705     354
65892  2020-12-29  Zimbabwe      13325      11067     359
65893  2020-12-30  Zimbabwe      13625      11154     360
65894  2020-12-31  Zimbabwe      13867      11250     363

In [7]:
# Shape of the dataframe
df.shape

(65895, 5)